body,
html {
    height: 100%;
}

.bg-img {
    background-image: url(../images/couple_coffee.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.topNav{
   border-top: 5px solid #ff3860;
   border-bottom: 1px solid #E6EAEE
}


.whiteText {
    color: white;
}

.pinkText {
    color: #ff3860;
}

.pinkBg{
    background-color: #ff3860;
}

/* #fd484b */

/* #E9EBEE */

.grayBg{
    background-color: #F5F5F5;
}

.borderTop {
    border-top: 1.5px solid white;
}

.borderBottom {
    border-bottom: 1.5px solid white;
}

.allBorders{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.whiteBanner {
    background-color: white;
}

.goldBorder
{
    border: 1.5px solid #ffcc66
}
